* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  transition: all 200ms;
}

a:hover,
a:active,
a:focus {
  text-shadow: 1px 1px 5px rgba(80, 80, 80, 0.5);
}